@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

html, body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(135deg, #f6d365, #fda085) fixed;
}

.container {
    width: 80%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

table {
    width: calc(100% - 60px);
    margin: 0 auto;
    border-collapse: collapse;
    margin-bottom: 30px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow-y: fixed;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    background-color: #fda085;
    color: #fff;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e6e6e6;
}

td button {
    background-color: #fda085;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

td button:hover {
    background-color: #f89072;
}

.cart-summary {
    text-align: right;
    margin-bottom: 20px;
    margin-right: 32px;
    font-weight: bold;
    font-size: 20px;
}

.cart-actions {
    text-align: right;
    margin-bottom: 30px;
}

.cart-actions button {
    width: 140px;
    height: 48px;
    background-color: #fda085;
    color: #232323;
    border: none;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 5px;
    margin-right: 32px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.cart-actions button:hover {
    background-color: #f89072;
}

.continue-shopping {
    text-align: center;
    margin-bottom: 30px;
}

.continue-shopping-button {
    background-color: #fda085;
    color: #232323;
    border: none;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.continue-shopping-button:hover {
    background-color: #f89072;
}

.flash-messages {
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: 100%;
    text-align: center;
}

.flash-message {
    background-color: #fda085;
    color: #2c3e50;
    border-radius: 4px;
    padding: 12px 20px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    animation: fadeInOut 3s forwards;
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    10%, 90% {
        opacity: 1;
    }
}