<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='cart_styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Shopping Cart</h1>
        <div class="flash-messages">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="flash-message">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <table>
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart_items %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.description }}</td>
                    <td>${{ item.price }}</td>
                    <td>{{ item.quantity }}</td>
                    <td><button onclick="removeItem('{{ item.name }}')">Remove</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="cart-summary">
            <p>Total: $<span id="total-price">{{ total_price }}</span></p>
        </div>
        <div class="cart-actions">
            <button onclick="checkout()">Checkout</button>
        </div>
        <div class="continue-shopping">
            <a href="{{ url_for('customer_dashboard') }}" class="continue-shopping-button">Continue Shopping</a>
        </div>
    </div>
    <script>
        function removeItem(productName) {
            fetch('/cart/remove', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ name: productName })
            })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    alert(data.error);
                } else {
                    location.reload();
                }
            })
            .catch(error => console.error('Error:', error));
        }

        function checkout() {
            alert('Proceeding to checkout');
        }
    </script>
</body>
</html>
